.navbar_vert {
  display: grid !important;
  grid-template-rows: repeat(10, 1fr);
  background: #f56d13;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  height: 100vh;
  position: fixed;
  text-align: center !important;
  -webkit-box-shadow: 10px 0px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0px 23px -4px rgba(0, 0, 0, 0.75);
}

.item:hover {
  background-color: #222;
}

.navbar_vert .fas {
  margin: 15px;
  color: #fff;
  text-align: center !important;
}

i.fas {
  font-size: 35px;
  vertical-align: middle !important;
}

i.fab {
  font-size: 35px;
  vertical-align: middle !important;
}

.item {
  height: 100px;
  overflow: hidden;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.item img {
  padding: 20px 0px 20px 0px !important;
}

.bottom2 {
  grid-row-start: 10;
}

.banner {
  min-height: 100vh;
  margin-left: 150px !important;
  margin-right: 0px !important;
  background: url(img/run_banner.jpg);
  background-size: cover;
}

.banner h1,
.banner p {
  padding: 20px 0px 0px 20px !important;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .navbar_vert {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 210px;
    width: 100%;
    position: relative;
  }
  .nav1 {
    grid-column: 1 / span 3;
  }

  .nav1 img {
    width: 125px;
  }

  .nav2 {
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: 1px solid white;
  }
  .nav3 {
    grid-column-start: 2;
    grid-row-start: 2;
    border-right: 1px solid white;
  }
  .nav4 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .bottom2 {
    display: none;
  }
  .banner {
    margin-left: 0px !important;
  }
}
